FORMAT: 1A
HOST: http://private-af36c5-ordersapi12.apiary-mock.com

# STTC Orders MS
The Soaring Through The Clouds Orders Microservice allows to search, read, create and delete orders.
This service is part of the Soaring Through The Clouds Sequel.

# Group Order Resources
Order related resources.

## Search and Create Orders [/orders{?customer_id,shoppingCart_id,orderStatus,date_from,date_to}]

+ Parameters

    + customer_id (string, optional)

        Filter by Customer ID

    + shoppingCart_id (string, optional)

        Filter by shoppingCart_idd

        + Sample: CUST0001

    + orderStatus (string, optional)

        Filter by Order Status

        + Sample: SHOPPING_CART

    + date_from (string, optional)

        Filter by oders created greater or equal to date provided

    + date_to (string, optional)

        Filter by oders created before or equal to date provided

### Search Orders [GET]
Returns Orders that match the specified criteria.

+ Request (text/plain)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

+ Response 200 (application/json; charset=utf-8)

    + Attributes

        + metadata (Search Metadata)

        + orders (array[Order])

### Create Order [POST]
Creates an Order.

+ Request (application/json)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

    + Attributes (Order)

    + Body

            {
              "shoppingCart_id": "CUST0001",
              "total_price": 0,
              "currency":"GBP",
              "status":"SHOPPING_CART",
              "customer":{
                "customer_id":"CUST0001",
                "first_name":"Luis",
                "last_name":"Weir",
                "phone":"+44 (0) 757 5333 777",
                "email":"myemail@email.com"
              }
            }

+ Response 201 (application/json; charset=utf-8)

    + Attributes (Response Metadata)

## Read and Update Orders [/orders/{order_id}]

+ Parameters

    + order_id: `unittest` (string, required)

### Read Order [GET]
Returns the details for a specific Order

+ Request (text/plain)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Order)

### Update Order [PUT]
Updates only those details which are allowed to be updated.
At present only Order Status and Payment Detailsadd

+ Request (application/json; charset=utf-8)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

    + Attributes (Order)

    + Body

            {
                "status":"PROCESSING",
                "payment": {
                    "card_type": "VISA_CREDIT",
                    "card_number": "**** **** **** 1111",
                    "start_year": 2018,
                    "start_month": 1,
                    "expiry_year": 2020,
                    "expiry_month": 6
              }
            }

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Metadata)

### Delete Order [DELETE]
ONLY FOR INTERNAL USE. Deletes an Order.

+ Request (text/plain)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Metadata)

## Add and Remove Line Items [/orders/{order_id}/lines]

+ Parameters

    + order_id: `unittest` (string, required)

### Add Line Item [POST]
Add an individual line item.

+ Request (application/json; charset=utf-8)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

    + Attributes (Order Lines)

    + Body

            {
                "product_id": "AX330T",
                "product_name": "Light Brown Men Shoe 1",
                "description": "Light Brown Men Shoe 1",
                "quantity": 2,
                "price": 68.39,
                "size": 43,
                "weight": 0,
                "dimensions": {
                    "unit": "cm",
                    "length": 10.2,
                    "height": 10.4,
                    "width": 5.4
                },
                "color": "White",
                "sku": "S15T-Flo-RS"
            }

+ Response 201 (application/json; charset=utf-8)

    + Attributes (Response Metadata)

### Remove Line Item [DELETE /orders/{order_id}/lines/{line_id}]
Remove a line item from an order

+ Parameters

    + line_id: 1 (number, required)

+ Request (text/plain)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Metadata)

## Add and Remove Address [/orders/{order_id}/address]

+ Parameters

    + order_id: `unittest` (string, required)

### Add Address [POST]
Add an individual address.

+ Request (application/json; charset=utf-8)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

    + Attributes (Address)

    + Body

            {
                "name": "BILLING",
                "line_1": "22",
                "line_2": "King street",
                "city": "Leamington Spa",
                "county": "Warkwickshire",
                "postcode": "CV31",
                "country": "GB"
            }

+ Response 201 (application/json; charset=utf-8)

    + Attributes (Response Metadata)

### Remove Address [DELETE /orders/{order_id}/address/{address_name}]
Remove address from an order

+ Parameters

    + address_name: `BILLING` (string, required)

+ Request (text/plain)

    + Headers

            api-key: ac108161-d3a5-427d-b814-ff977728395b

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Metadata)

# Group Control Plane
Control plane resources

## Health Checks [/health]

### Health Status [GET]
Check the health status of the service

+ Request (text/plain)

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Health Metadata)


# Data Structures

## Health Metadata (object)
- status: `OK` (string, required)
- uptime: 28.094 (number, required)
- version: `1.0.0` (string, required)

## Search Metadata (object)
- result_count: 1 (number, required)

## Response Metadata (object)
- error (boolean, required)
- message: `success` (string, optional)
- _links (optional)
    - self
        - href: /orders/unittest (string, required)

## Address (object)
- name (enum, required)
  - `BILLING` (string) - Billing address
  - `DELIVERY` (string) - Delivery
- line_1: `22` (string, required)
- line_2: `King street` (string, optional)
- city: `Leamington Spa` (string, required)
- county:  `Warkwickshire` (string, required)
- postcode:  `CV31` (string, required)
- country:  `GB` (string, required)

  The country code an artists belongs to. Note that MRA uses ISO 3166-1 alpha-2 for country codes

- _id: `59d0966c2d57fd00125548a6` (string, optional) - Database generated record ID

## Order Lines (object)
- line_id: 1 (number, required)
- product_id: `AX330T` (string, required)
- product_name: `Light Brown Men Shoe 1` (string, optional)
- description: `Light Brown Men Shoe 1` (string, optional)
- quantity: 2 (number, required)
- price: 68.39 (number, required)
- size: 43 (number, required)
- weight: 0.0 (number, required)
- dimensions (optional)
    - unit: `cm` (string, optional)
    - length: 10.2 (number, optional)
    - height: 10.4 (number, optional)
    - width: 5.4 (number, optional)
- color: `White` (string, optional)
- sku: `S15T-Flo-RS` (string, optional)
- _links (optional)
    - self
        - href: /products/AX330T (string, required)
- _id: `59d0966c2d57fd00125548a6` (string, optional) - Database generated record IDo

## Customer (object)
- customer_id: `CUST0001` (string, required)
- first_name: `Luis` (string, required)
- last_name: `Weir` (string, required)
- phone: `+44 (0) 757 5333 777` (string, optional)
- email: `myemail@email.com` (string, required)

## Payment (object)
- card_type (enum, required) - Credit card payment methods supported
  - `VISA_CREDIT` (string)
  - `VISA_DEBIT` (string)
  - `MASTER_CREDIT` (string)
  - `MASTER_DEBIT` (string)
  - `AMEX_CREDIT` (string)
- card_number: `**** **** **** 1111` (string, optional) - Credit card number
- start_year: 2018 (number, required) - Credit Card issue year
- start_month: 1 (number, required) - Credit Card issue month
- expiry_year: 2020 (number, required) - Credit Card expiry year
- expiry_month: 6 (number, required) - Credit Card expiry month

## Order (object)
- order_id: `unittest` (string, optional) - System generated Order ID
- shoppingCart_id: `CUST0001` (string, optional) - ID for the shopping cart. At present is the same as the customerID.
- status (enum, required)
  - `SHOPPING_CART` (string) - Order is in the store Shopping Cart
  - `PROCESSING` (string) - Sales Order has been created, yayment is being processed
  - `SUCCESS` (string) - Payment successfully processed and order is now created
  - `DELIVERING` (string) - Order is being delivered
  - `DELIVERED` (string) - Order has been delivered
  - `CANCELED` (string) - Order has been canceled
- created_at: `2018-02-05T07:17:00.442Z` (string, optional)
- updated_at: `2018-02-05T07:17:00.442Z` (string, optional)
- total_price: 100 (number, optional)
- currency (enum, optional)
  - `GBP` (string) - British Pounds
  - `USD` (string) - US Dollars
  - `EUR` (string) - Euros
- payment (Payment, optional)
- customer (Customer, optional)
- address (array[Address], optional)
- line_items (array[Order Lines], optional)
- _links (optional)
    - self
        - href: /orders/unittest (string, required)
- _id: `59d0966c2d57fd00125548a6` (string, optional) - Database generated record ID