<div class="oj-flex-item oj-panel oj-sm-margin-2x">
  <oj-collapsible id="paymentDetailsCollapsible" expanded={{paymentDetailsExpanded}}>
    <h3 id="header" slot="header">Payment Details</h3>
    <oj-form-layout id="paymentDetailsLayout"
      label-edge="start"
      max-columns="2">

      <oj-combobox-one id="paymentMethod"
        value="{{selectedPaymentMethod}}"
        on-value-changed="[[onPaymentMethodChanged]]"
        label-hint="Payment Method: ">
        <oj-bind-for-each data="[[paymentMethods]]" as="method">
          <template>
            <oj-option value="[[method.data['_id']]]"><span data-bind="text: method.data.type"></span> - <span data-bind="text: maskCard(method.data.cardNumber)"></span></oj-option>
          </template>
        </oj-bind-for-each>
        <oj-option value="newPayMethod">New payment method</oj-option>
      </oj-combobox-one>

    </oj-form-layout>

    <div data-bind="if: displayNewMethod">

      <oj-form-layout id="newPaymentMethodLayout"
        label-edge="start"
        max-columns="2">

        <oj-input-text id="nameOnCard"
          required
          value="{{nameOnCard}}"
          on-value-changed="[[onNameOnCardChange]]"
          label-hint="Name on card:"
          validators="[[validators]]">
        </oj-input-text>

        <oj-combobox-one id="cardType"
          required
          value="{{selectedCardType}}"
          on-value-changed="[[onCardTypeChange]]"
          label-hint="Card Type: ">
          <oj-option value="VISA_DEBIT">Visa Debit</oj-option>
          <oj-option value="VISA_CREDIT">Visa Credit</oj-option>
          <oj-option value="MASTERCARD">Mastercard</oj-option>
          <oj-option value="AMEX">American Express</oj-option>
        </oj-combobox-one>

        <oj-input-text id="cardNumber"
          required
          value="{{cardNumber}}"
          on-value-changed="[[onCardNumberChanged]]"
          label-hint="Card Number:"
          validators="[[validatorCardNumber]]">
        </oj-input-text>

        <oj-input-text id="startDate"
          value="{{startDate}}"
          on-value-changed="[[onStartDateChanged]]"
          placeholder="mm/yy"
          label-hint="Start Date:"
          validators="[[validatorSimpleDate]]">
        </oj-input-text>

        <oj-input-text id="expiryDate"
          required
          value="{{expiryDate}}"
          on-value-changed="[[onEndDateChanged]]"
          placeholder="mm/yy"
          label-hint="Expiry Date:"
          validators="[[validatorSimpleDate]]">
        </oj-input-text>

      </oj-form-layout>

    </div>

  </oj-collapsible>
</div>
<div class="oj-flex-item oj-panel oj-sm-margin-2x">
  <oj-collapsible id="billingAddressCollapsible" expanded={{billingAddressExpanded}}>
    <h3 id="header" slot="header">Billing Address</h3>

    <oj-form-layout id="sameAddressAsDeliveryLayout"
      label-edge="start"
      max-columns="2">

      <oj-checkboxset id="sameAddressAsDeliveryCheckbox"
        value="{{sameAddressAsDelivery}}"
        on-value-changed="[[onSameAddressAsDeliveryChanged]]"
        label-hint="Use Delivery Address:">
        <oj-option id="deliveryAddress" value="deliveryAddress"></oj-option>
      </oj-checkboxset>

    </oj-form-layout>

    <oj-form-layout id="billingAddressLayout"
      label-edge="start"
      max-columns="2">

      <oj-input-text id="addressLine1"
        required="[[isRequired]]"
        value="{{addressLine1}}"
        readonly="[[addressReadOnly]]"
        on-value-changed="[[onAddressLine1Changed]]"
        label-hint="Address Line 1:"
        validators="[[validators]]">
      </oj-input-text>

      <oj-input-text id="addressLine2"
        value="{{addressLine2}}"
        readonly="[[addressReadOnly]]"
        on-value-changed="[[onAddressLine2Changed]]"
        label-hint="Address Line 2:"
        validators="[[validators]]">
      </oj-input-text>

      <oj-input-text id="city"
        required="[[isRequired]]"
        value="{{city}}"
        readonly="[[addressReadOnly]]"
        on-value-changed="[[onCityChanged]]"
        label-hint="City:"
        validators="[[validators]]">
      </oj-input-text>

      <oj-input-text id="county"
        value="{{county}}"
        readonly="[[addressReadOnly]]"
        on-value-changed="[[onCountyChanged]]"
        label-hint="County:"
        validators="[[validators]]">
      </oj-input-text>

      <oj-input-text id="postCode"
        required="[[isRequired]]"
        value="{{postCode}}"
        readonly="[[addressReadOnly]]"
        on-value-changed="[[onPostCodeChanged]]"
        label-hint="Post Code:"
        validators="[[validators]]">
      </oj-input-text>

      <oj-input-text id="country"
        required="[[isRequired]]"
        value="{{country}}"
        readonly="[[addressReadOnly]]"
        on-value-changed="[[onCountryChanged]]"
        label-hint="Country:"
        validators="[[validators]]">
      </oj-input-text>

    </oj-form-layout>

  </oj-collapsible>
</div>
